<!-- Basic Sample to other HTML Pages -->

<!-- MACROS Imports -->

<!-- Jumbo Text -->
{% block jumbo_text%} 

    <form method="POST" action="/" enctype="multipart/form-data">
        <!-- File Upload-->
        <div class="form-group">
            <label for="inputFile">File input</label>
            <input class="form-control-file" type="file" name="inputFile">
        </div>
        <!-- Location -->
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location">
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="text">Write Text</label>
            <textarea class="form-control" name="text" id="text" rows="5" placeholder="Add a Description"></textarea>
        </div>

        <!-- Submit -->        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
<!-- Jumbo Subtext -->
{% block jumbo_content%} 
{%if all_pic%}
    <div  class="d-flex justify-content-center">
        <div class="card" style="width: 50%;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <!-- First Picture, Must be rendered Outside the For Look because
                    of bootstrap class 'class="carousel-item active". That needs to be displayed separate -->
<div id="left">
                    <div class="carousel-item active">
                        <img  src="data:;base64,{{all_pic[0].rendered_data}}" alt="WOOW">
</div>
                        <div class="card-body">
                            <!-- Pic Name -->    
                            <h2>               
                                <a class="card-title" href="{{url_for('pic', pic_id=all_pic[0].id)}}">{{all_pic[0].name|capitalize}}</a>
                                <!-- Location Badge -->
                                <span class="badge badge-secondary">{{all_pic[0].location|capitalize}}</span>
                            </h2>           

                            <!-- Pic Text -->
                            <p class="card-text">{{all_pic[0].text}}</p>
                            <!-- Date Wrapper -->
                            <p>Published on: {{all_pic[0].pic_date.strftime('%d-%m-%Y')}}</p>
                        </div>
                        <div class="card-body">    
                            <!--Download -->
                            <div>
                            <a href="{{url_for('delete', pic_id=all_pic[0].id)}}" class="btn btn-outline-primary">Delete</a>
                                <a href="{{url_for('download', pic_id=all_pic[0].id)}}" class="btn btn-outline-primary">Download</a>
                            </div>
                        </div> 
                    </div>
                    <!-- All other Pictures are displayed in this For loop  -->
                    <!-- Carousel Arrow Controler -->
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>       
            </div>
        </div>
    </div>
<style>

#left{
position:relative;
left:90%;
}

</style>
{% endif %}
{% endblock%}

<!-- Jumbo BTN  -->
{% block jumbo_btn %}


{% endblock%}
{% block jumbr_text%} 
<form method="POST" action="/" enctype="multipart/form-data">
        <!-- File Upload-->
        <div class="form-group">
            <label for="inputFile">File input</label>
            <input class="form-control-file" type="file" name="inputFile">
        </div>
        <!-- Location -->
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location">
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="text">Write Text</label>
            <textarea class="form-control" name="text" id="text" rows="5" placeholder="Add a Description"></textarea>
        </div>

        <!-- Submit -->        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
{% endblock %}
{% block jumbr_content%} 
{%if all_pic%}
    
                 {% for pic in all_pic[1:]%}          
                        <div class="carousel-item ">
<div id="lefr">
                            <img src="data:;base64,{{pic.rendered_data}}" alt="WOOW" width="50%"> 
</div>
                            <div class="card-body">
                                <!-- Pic Name -->    
                                <h2>               
                                    <a class="card-title" href="{{url_for('pic', pic_id=pic.id)}}">{{pic.name|capitalize}}</a>
                                    <!-- Location Badge -->
                                    <span class="badge badge-secondary">{{pic.location|capitalize}}</span>
                                </h2>           
            
                                <!-- Pic Text -->
                                <p class="card-text">{{pic.text}}</p>
                                <!-- Date Wrapper -->
                                <p>Published on: {{pic.pic_date.strftime('%d-%m-%Y')}}</p>
                            </div>
                            <div class="card-body">    
                                <!--Download -->
                                <div>
                                    <a href="{{url_for('download', pic_id=pic.id)}}" class="btn btn-outline-primary">Download</a>
                                    <a href="{{url_for('delete', pic_id=pic.id)}}" class="btn btn-outline-primary">Delete</a>
                                </div>
                            </div> 
                        </div>        
                    {% endfor %}
   <!-- All other Pictures are displayed in this For loop  -->

                    <!-- Carousel Arrow Controler -->
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>       
            </div>
        </div>
    </div>
<style>

#lefr{
 position:relative;
padding:10px;
 display:flex;
 box-sizing: border-box;
 flex: 33.33%;
 float:left;
}

</style>
{% endif %}
{% endblock%}

<!-- Jumbo BTN  -->
{% block jumbr_btn %}


{% endblock%}